#bannerWrap {
    width: auto;
    height: auto;
    text-align: center;
    display: block;
}

.BannerImage {
    display: block;
    position: absolute;
    top: 70px;
    left: 170px;
    overflow: hidden;
}