* {
    margin: 0;
    padding: 0;
}

#container {
    display: block;
    position: relative;
}

.contents {
    position: absolute;
    display: block;
    top: 850px;
    right: 10px;
}

.contents > .imageWrap {
    display: flex;
    position: relative;
}

.contents > .imageWrap > img {
    display: block;
    position: relative;
}

.textWrap {
    display: block;
    position: relative;
    top: 10px;
    font-size: 22px;
    font-family: 'Black And White Picture', sans-serif;
}

.mapsWrap {
    display: block;
    position: relative;
}

.titleText {
    display: inline-block;
    position: absolute;
    top: -20px;
}