@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');

/* PC 버전 */
* {
    margin: 0;
    padding: 0;
}

#Home, .header {
    display: block;
    position: fixed;
    background: #c1e3ff;
    z-index: 10000;
    width: 100%;
    /* width: auto; */
    overflow: hidden;
}

#logo {
    font-size: 42px;
    font-weight: 400;
    font-family: 'Black And White Picture', sans-serif;
    text-align: left;
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
    cursor: pointer;
}

.navGroup {
    display: block;
    position: relative;
    float: right;
    right: 500px;
}

.navbar {
    clear: both;
    list-style: none;
    top: 5px;
    bottom: 5px;
    margin-left: 400px;
}

.Home {
    display: block;
    position: relative;
    margin-right: 10px;
}

.Home>button>a {
    color: #000000;
    text-decoration: none;
}

.Info {
    display: block;
    position: relative;
    margin-right: 10px;
}

.Info>button>a {
    color: #000000;
    text-decoration: none;
}

.Maps {
    display: block;
    position: relative;
}

.Maps>button>a {
    color: #000000;
    text-decoration: none;
}

/* 1024px 이하 태블릿, 노트북, 모바일 버전 */
@media all and (max-with: 1024px) {
    .navGroup {
        display: block;
        position: relative;
        float: right;
    }
    
    .navbar {
        clear: both;
        right: 250px;
        margin-right: 200px;
    }
}