@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');

* {
    margin: 0;
    padding: 0;
}

#Home, .header {
    display: block;
    position: fixed;
    background: #c1e3ff;
    z-index: 1000;
    width: 100%;
    overflow: hidden;
}

#logo {
    font-size: 42px;
    font-weight: 400;
    font-family: 'Black And White Picture', sans-serif;
    text-align: left;
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
    cursor: pointer;
}

.navGroup {
    display: block;
    position: relative;
    float: right;
    left: 280px;
    width: auto;
}

.navbar {
    clear: both;
    list-style: none;
    top: 5px;
    bottom: 5px;
    right: 450px;
}

.Home {
    display: block;
    position: relative;
    margin-right: 10px;
}

.Home>button>a {
    color: #000000;
    text-decoration: none;
}

.Info {
    display: block;
    position: relative;
    margin-right: 10px;
}

.Info>button>a {
    color: #000000;
    text-decoration: none;
}

.Maps {
    display: block;
    position: relative;
}

.Maps>button>a {
    color: #000000;
    text-decoration: none;
}