@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

#header {
    display: block;
    position: fixed;
    background: #cccccc;
    z-index: 100;
    width: 1920px;
}

#logo {
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
}

.navGroup {
    display: block;
    position: relative;
    float: right;
}

.navbar {
    clear: both;
    list-style: none;
    top: 5px;
    bottom: 5px;
    right: 320px;
}

.Home {
    display: block;
    position: relative;
    margin-right: 10px;
}

.Home>button>a {
    color: #000000;
    text-decoration: none;
}

.Info {
    display: block;
    position: relative;
    margin-right: 10px;
}

.Info>button>a {
    color: #000000;
    text-decoration: none;
}

.Maps {
    display: block;
    position: relative;
}

.Maps>button>a {
    color: #000000;
    text-decoration: none;
}