@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

#header {
    display: block;
    position: relative;
}

#logo {
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    display: block;
    position: absolute;
}

.navGroup {
    display: block;
    position: relative;
    float: right;
}

.navbar {
    clear: both;
    list-style: none;
}

.Home>button>a {
    color: #000000;
    text-decoration: none;
}

.Info>button>a {
    color: #000000;
    text-decoration: none;
}

.Maps>button>a {
    color: #000000;
    text-decoration: none;
}